<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 클래스가 없으면 오류가 발상한다. -->
<typeAliases>
<typeAlias type="pm.spring.doc.dto.DocDTO" alias="DocDTO"/>
<typeAlias type="pm.spring.emp.dto.EmpDTO" alias="EmpDTO"/>
</typeAliases>
</configuration>